@using MealPrep.Models;
@using System.Collections.Generic;
@using System.Web;
@using System;
@model MealPrep.Models.Meal

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What do you want to eat?</title>
  </head>
  <body>
    <form action="/addMeals" method="post">
      <label for="ingredient">Add a new item</label>
      <input id="ingredient" name="ingredient" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>

<h4>Add a new Meal Plan</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Breakfast)
  @Html.TextBoxFor(model => model.Breakfast)
  @Html.LabelFor(model => model.Lunch)
  @Html.TextBoxFor(model => model.Lunch)
  @Html.LabelFor(model => model.Dinner)
  @Html.TextBoxFor(model => model.Dinner)
  @Html.LabelFor(model => model.Date)
  @Html.TextBoxFor(model => model.Date)
  <input type="submit" value="Add new Meal plan" />
}

</div>

