@using MealPrep.Models;

@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<div class="center">

  
    <form class="searchBar" action="/addMeals" method="post">
      <label for="ingredient">Add a new item</label>
      <input id="ingredient" name="ingredient" type="text">
      <button type="submit">Submit</button>
    </form> 
    <p class="searchBar">@Html.ActionLink("Add meals to Planner", "Create", "Meals") </p>
    <p class="searchBar">@Html.ActionLink("See Meal Plans", "Index", "Meals")</p>
  

<h1>Meals from your searched ingredient</h1>

@if (@Model == null){
  <h1>Go to the submission page to get ingredients.</h1>
}
else
{
  <div class="underline">
  <h1 class="underline"><a href=@Model.results[0].sourceUrl>@Model.results[0].title</a></h1>
  <img src=@Model.results[0].image>
  </div>
  <div class="underline">
  <h1 class="underline"><a href=@Model.results[1].sourceUrl>@Model.results[1].title</a></h1>
  <img src=@Model.results[1].image>
  </div>
  <div class="underline">
  <h1 class="underline"><a href=@Model.results[2].sourceUrl>@Model.results[2].title</a></h1>
  <img src=@Model.results[2].image>
  </div>
}


