@model MealPrep.Models.Meal

@{
  Layout = "_Layout";
}

<h2>Meal Plan Details</h2>
<hr />
<h3><a href=model.Breakfast>@Html.DisplayFor(model => model.Breakfast)</a></h3>
<h3>@Html.DisplayFor(model => model.Lunch)<h3>
<h3>@Html.DisplayFor(model => model.Dinner)<h3>

@Html.ActionLink("Delete this meal plan", "Delete", new { id = @Model.MealId })