@model MealPrep.Models.Meal

<h2>Meal Plan Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Breakfast): @Html.DisplayFor(model => model.Breakfast)<h3>
<h3>@Html.DisplayNameFor(model => model.Lunch): @Html.DisplayFor(model => model.Lunch)<h3>
<h3>@Html.DisplayNameFor(model => model.Dinner): @Html.DisplayFor(model => model.Dinner)<h3>